<div class="details">
  <div class="container-fluid">
    <div *ngIf="track">
      <div class="data">
        <h4><span>{{track.id}}</span> - {{track.name}}</h4>
        <h4>வெளியீட்டு தேதி: {{track.pub_date | date}} </h4>
        <div class="post">
          <img src="{{track.image}}" alt="">
          <audio controls>
            <source src={{track.url}} type="audio/ogg">
          </audio><br/>
          <span class="fa fa-download" aria-hidden="true">
           <a href="{{track.url}}">பதிவிறக்கம் செய்ய</a>
          </span>
        </div>
        <p><b>தலைப்புகள்:</b> {{track.topic}}</p>
        <p><b>உபயோகிக்கும் முறை:</b><a href="http://creativecommons.org/licenses/by-sa/3.0/">
         creativecommons by-sa 3.0</a></p>
        <p><b>Python script:</b> சீனிவாசன் (tshrinivasan@gmail.com)</p>
        <p><b>ஸ்கேனர்:</b> Interner archive Html5 uploader</p>
        <p><b>ஆடியோ மற்றும் பட சேமிப்பு:</b> <a href="http://archive.org">Archive.org </a></p>
        <p><b>ஒலி கோப்பு உருவாக்கம்:</b> குரு லெனின் </p>
        <p><b>மொழி பெயர்ப்பு:</b> ஆதித்யா </p>
        <button (click)="goBack()">முந்தைய பக்கம் செல்ல</button>
      </div>
    </div>
  </div>
</div>
