.details{
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 10%;
  margin-bottom: 3%;
  @media screen and(max-width: 480px){
    margin-left: 10%;
    .data{
      font-size: .8em;
      h4{
        font-size: 1.2em !important;
      }
      button{
        padding: 2%;
      }
     .post{
      margin-bottom: 10% !important;
      img{
        width:75%;
      }
      audio{
        width:100% !important;
      }
    }
  }
}
  .data{
    h4{
      color:black;
      font-size: 1em;
      margin-left: 0px;
    }
  }
  .post{
    box-shadow: 5px 5px 5px 5px rgb(52,70,93);
    padding: 5%;
	  margin-bottom: 3%;
    img{
      margin-bottom: 3%;
    }
    audio{
      margin-left: 0;
	    width: 75%;
      margin-bottom: 3%;
    }
  .fa-download{
    margin-left: 0;
    border: 2px solid black;
    padding: 2%;
  }
  }
  a{
    text-decoration: none;
    margin-bottom: 2%;
    color: inherit;
    &:hover{
      color: red;
    }
  }
  p b{
    text-decoration: underline;
  }
  button{
    padding: 1%;
    color: black;
    background-color: rgba(255,255,255,0.3);
    font-size: 1.2em;
    border: 1px solid #D69BED;
    &:active{
      background-color: #D69BED;
    }
  }
}
