<div class="container-fluid" id="#footer">
    <hr class="hr">
    <footer>
          <ul>
            <li>
              <a href="https://www.facebook.com/karaiglug/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              <a href="https://gitlab.com/Vel_Chami_Nc/olipedia.gitlab.io.git" target="_blank"><span class="fa fa-gitlab" aria-hidden="true"></span></a>
              <a href="http://karaiglug.herokuapp.com" target="_blank"><img src="/assets/img/karai.png"></a>
              <a href="http://fsftn.org" target="_blank"><img src="assets/img/fsftn_logo.png"></a>
              <a href="http://archive.org" target="_blank"><img src="assets/img/archive.png"></a>
              <a href="mailto:karaiglug@gmail.com"><span class="fa fa-envelope-o" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
  </footer>
</div>
