footer{
   margin-left:10%;
   margin-right:10%;
   margin-bottom: 2%;
   @media screen and(max-width: 480px){
     margin-left: -10% !important ;
     ul{
       margin-left: 5%;
     li a{
       margin-left: 0 !important;
       margin-right: 5%;
       font-size: 1em !important;
     }
     img{
       width:20px !important;
     }
   }
   }
   @media screen and(min-width: 481px)and(max-width: 952px){
     margin-left: 15%;
     ul{
       margin-left: 5%;
     li a{
       margin-left: 0 !important;
       margin-right: 5%;
       font-size: 1em !important;
     }
     img{
       width:20px !important;
     }
   }
   }
  ul {
	  margin-left: 20%;
 	  list-style: none;
    li  a{
	     margin-left: 5%;
	     font-size: 3em;
	     color: rgb(52,70,93);
     }
   img{
	   width:40px;
   }
}
}
