<div class="track-list">
  <div class="container-fluid">
      <ul class="tracks">
      <li *ngFor = "let track of tracks | paginate: { itemsPerPage: 10, currentPage: p }">
        <a routerLink = "/track/{{track.id}}">
          <i class="fa fa-play" aria-hidden="true"></i>
          <h4 class="badge">{{track.name}} | {{track.pub_date | date}}</h4>
          <br/>
          <img src="{{track.image}}" alt="{{track.image}}" />
        </a>
      </li>
    </ul>
    <p id="page">
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
    </p>
    </div>
  </div>
