@import "var";
.track-list{
  #page{
    margin-left: 5%;
  }
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  @media screen and(max-width: 480px){
    margin-left: 0 !important;
  }
  .tracks{
    list-style: none;
    margin-left: 5%;
    @media screen and(max-width: 480px){
      margin-left: 0 !important;
      i{
        display: none;
      }
      li{
        border-bottom: 1px solid rgba(0,0,0,0.2);
     }
      h4{
        font-size: 12px !important;

      }
      img{
       width: 100%;
      }
    }
    li{
      display: inline-block;
      padding: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      a{
        text-decoration: none;
        color: black;
        font-size:1em;
        i{
          color:red;
        }
        h4{
          font-size: 12px;
          color: black;
        }
      }
      .detail{
        margin-top: 5%;
        border-top: 1px solid red;
        li{
          border: 0px;
          margin-left: 0px;
          margin-right: 20px;
        }
      }
    }
  }
}
