<div class="home">
   <nav>
      <ul class="larger-menu">
        <li class="hidden-sm hidden-xs">
          <a href="/">
            <img src="/assets/img/oli.png" alt=""/>
          </a>
          <a href="/">  முகப்பு </a>
          <a routerLink="/tracks">ஒலி பதிவுகள்</a>
          <a href="http://karaiglug.herokuapp.com">எங்களைப் பற்றி</a>
          <a href="#">தொடர்பு</a>
        </li>
      </ul>

      <div class="smaller-menu">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">முகப்பு <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tracks">ஒலி பதிவுகள்</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://karaiglug.herokuapp.com" target="_blank">எங்களைப் பற்றி</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> தொடர்பு </a>
            </li>
          </ul>
    </div>
  </nav>
      </div>
  </nav>

    <header>
          <img src="/assets/img/oli.png" alt=""/>
          <p>ஒலிபீடியாவில் உரை கோப்புகள் (<span class="typing-element"></span>) ஒலி உருவாக்கம் செய்யப்பட்டு, இங்கு பதிவேற்றம் செய்யப்பட்டுள்ளது. அதை நீங்கள் கேட்டு மகிழலாம்.<br/><br/></p>
          <a routerLink="/tracks"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
    </header>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
