@import "./tracks/var";
 .home{
    background: url('/assets/img/color.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    .smaller-menu{
      nav{
        ul li a{
          color: black;
          font-size: 1.2em;
        }
      }
      @media screen and(min-width: 834px){
        display: none;
      }
      @media screen and(min-width:481px) and(max-width: 834px){
        nav{
          padding-top: 10%;
        }
      }
    }
    @media screen and(max-width:480px){
      margin-top: 0%;
    }
    @media screen and (min-width:481px) and(max-width: 834px){
      margin-top: -6%;
    }
  .button{
    right: auto;
    left: 5%;
    top: 5%;
    position: fixed;
    cursor: pointer;
    @media screen and(min-width: 834px){
      display: none;
    }
    span{
      font-size: 1.5em;

    }

  }

  .larger-menu{
    list-style: none;
    @media screen and(max-width: 834px){
      display: none;
    }
    li{
      display: inline-block;
      margin-top: 1%;
      margin-bottom: 3%;
      margin-left: 10%;
      img{
        width: 10%;
        margin-right: 30%;
        @media screen and(min-width: 834px)and (max-width: 1010px){
          margin-right: 20%;
        }
      }
      a{
        margin-right: 3%;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        color: white;
      }
    }
  }
  header{
    width: 100%;
    @media screen and(min-width:835px){
    img{
      display: none;
    }
  }
    @media screen and(max-width:834px){
     img{
       margin-top: 5%;
       width: 20%;
       margin-left: 40%;
       }
    }
    p{
      margin-left: 10%;
      margin-right:10%;
      margin-bottom: 5%;
      margin-top: 7%;
      padding-bottom: 3%;
      font-size: 1.5em;
      color: black;
      text-align: center;
      .typing-element{
        color:white;
      }
    }
    i{
      margin-left: 48%;
      font-size: 2em;
      margin-bottom: 3%;
    }
  }

}
